<div th:fragment="common-footer">
  <footer class="footer">
    <!-- 상단: 로고 + 메뉴 -->
    <div class="footer-container">
      <a th:href="@{/main}">
        <img th:src="@{/images/logo/github.svg}" alt="로고" class="logo-image">
      </a>

      <nav class="footer-right">
        <a href="/map">MAP</a>
        <a href="/search">SEARCH</a>
        <a href="/posts">POST</a>
        <a href="/leaderboards">LEADERBOARD</a>
      </nav>
    </div>

    <!-- 설명글 (한 줄 아래 꽉 차게) -->
    <p class="footer-desc">
      본 사이트는 국가유산청 및 문화체육관광부 공공 데이터를 활용하여 제작되었습니다.<br>
      문의 : heritage-hunters @ gmail.com
    </p>

    <!-- 하단 저작권 -->
    <div class="footer-bottom">
      <hr>
      <p class="footer-copy">© 2025 Heritage Hunters</p>
    </div>
  </footer>

  <script defer th:src="@{/common/js/toggle_dropdown.js}"></script>
</div>