<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!-- 토스트 메시지 프래그먼트 -->
<div th:fragment="toast">
  <!-- 토스트 메시지가 동적으로 추가될 컨테이너 -->
  <div id="toast-container"></div>

  <!-- 페이지 로드 시 서버에서 전달된 토스트 메시지가 있다면 표시 -->
  <script th:inline="javascript">
    /*<![CDATA[*/
    const initialToastMessage = /*[[${toastMessage}]]*/ null;
    const initialToastType = /*[[${toastType}]]*/ null;
    /*]]>*/
  </script>
</div>

<!-- Toast CSS -->
<link rel="stylesheet" th:href="@{/common/css/toast.css}">
<!-- ToastManager.js 포함 -->
<script defer th:src="@{/common/js/toast_manager.js}"></script>
</body>
</html>