/* 컬러 팔레트 정해지면 여기에 추가! */

:root {
  --gray-000: #ffffff;
  --gray-050: #f8f9fa;
  --gray-100: #f2f3f6;
  --gray-200: #dbdce2;
  --gray-300: #d0d1da;
  --gray-400: #bdbec8;
  --gray-500: #aaabb4;
  --gray-600: #898a93;
  --gray-700: #686971;
  --gray-800: #525359;
  --gray-900: #111111;
  --red-700: #ff1010;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li,
ol {
  list-style-type: none;
}
